* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fdfcb0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  color: #EEEEEE;
  font-size: 2.1em;
  padding: 0.3em 0.3em 0.3em 0.9em;
}

/* Header */
header {
  background-color: #2F4858;
  color: #f3adad;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: .25em 0;
}

header li {
  font-size: 1em;
  padding: 0 1em;
}

header a {
  color: #caeee9;
  text-decoration: none;
  border-radius: .25em;
  padding: .25em .75em;
  transition: 0.5s;
}

header a:hover {
  color: #ffffff;
  transition: 0.5s;
}

section {
  display: flex;
  flex-direction: row;
}

main {
  padding: 1.5em;
  background-color: #fdfcb0;
  color: #2F4858;
  margin: 1em;
  text-align: center;
  border-radius: 0.5em;
}

main .main-presentation {
  width: 70%;
  margin: auto;
}

main .images {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #b2e6a5;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.625em #1d454e;
}

main img {
  width: 10em;
  margin-top: 1.2em;
  border-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.625em #1d454e;
  transition: 1s;
}

main img:hover {
  transform: translateY(-.75em);
  transition: 1s;
}

main h2 {
  margin-top: 2em;
}

main h3 {
  margin: 1em 0;
  width: 10em;
}

main p {
  margin: 1em 0;
}

main a {
  color: #1d454e;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto 3em;
  font-size: 1.1em;
}

.story p {
  text-align: center;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  background-color: #b2e6a5;
  border-radius: 0.5em;
  padding: 0 1.75em 1em;
  box-shadow: 0.1em 0.1em 0.625em #1d454e;
}

.author h3, .story h3 {
  width: 100%;
  margin: 1em auto 0;
}

.author img {
  box-shadow: none;
  border: 2px solid #2F4858;
  width: 6.25em;
  border-radius: 100%;
}

.author i {
  color: #1d454e;
  padding: 0 .5em;
}

/* Footer */
footer {
  background-color: #1d454e;
  color: #EEEEEE;
}

footer h3 {
  padding: 1.5em 0;
  text-align: center;
}