---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
	<main class="flex flex-col justify-center items-center text-center px-8 gap-4 dark:text-dark-text text-light-text mt-36 mb-auto mx-auto">
	    <h2 class="text-5xl sm:text-7xl font-bold">Error 404</h2>
	    <p class="text-lg font-normal">Vaya, vaya. Parece que no he programado esto aún...</p>
	</main>
</Layout>
