---
import Layout from '../layouts/AboutPost.astro';
---

<Layout title="Alejandro Polo" type="" description="" pubDate={new Date('March 28 2003')} heroImage="/alejandro.jpg">

	<p class="dark:text-dark-text text-light-text text-justify">
		Me apasiona la programación, el diseño, el cine, el tenis, la calistenia, la música, la lectura, la arquitectura, Spider-Man.
		<br><br>
		Me gusta el cine, mis peliculas favoritas son La La Land, Tick Tick Boom! y The Whale. Tengo un profundo amor-odio con Asteroid City, ya que a simple vista en la pelicula no sucede absolutamente nada entre que empieza y termina. Sin embargo su existencialismo es cautivante.
		<br><br>
		En menor medida, También me gustan las series, mis favoritas son Cómo sobrevivir soltero, Breaking Bad, Avatar y Peaky Blinders. A veces pienso que sólo yo entiendo la manera en que veo Cómo sobrevivir soltero y por qué tratando de lo que trata, es mi serie favorita. Quizá recuerde mal las demás. También me gustan los animes, aunque ya no me considere otaku, como en el pasado. Mis preferidos son Death Note, Saint Seiya y Shokugeki no Soma, de este último que a mis 11 años mi sueño fuese ser Chef. Ese sueño duró los mismo que las primeras tres temporadas del anime.
		<br><br>
		He escuchado muchos artistas y bandas de distintos géneros de música, los que aún perduran en las canciones que escucho a diario son Slipknot, Gorillaz, Falling in Reverse. Mis bandas favoritas en la actualidad son Rawayana y Motherflowers, mientras que mis artistas favoritos son J Balvin, Eminem, Juan Luis Guerra y Ricardo Arjona.
		<br><br>
		Mi comida favorita es la arepa asada con queso rayado, nata y mantequilla, luego el arroz con carne mechada, caraotas y guineo, mejor conocido como pabellón criollo, los bollos pelones y las carimañolas. Mis jugos favoritos son los de Mora, Parchita, Guayaba, Naranja y la limonada. Todos en agua.
		<br><br>
		He practicado Calistenia desde hace tres años, a causa de que mi PlayStation 4 se había dañado.
		<br><br>
		Me gusta Spider-Man, es mi superheroe favorito y puedo durar horas hablando de él. Eso es lo único que escribiré al respecto.
		<br><br>
		Por costumbre, primero echo la leche y luego el cereal. Las matemáticas son rojas, el español es azul, la física es morada y la química es verde.
	</p>

</Layout>
