---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="Alejandro Polo" type="" description="" pubDate={new Date('March 28 2003')} heroImage="/alejandro.jpg">
	<div class="flex flex-row gap-4 justify-center items-center">
		<a href="https://letterboxd.com/yourfriendlyadc/" class="dark:text-dark-text text-light-text" target="_blank"><i class="ti ti-brand-letterboxd text-4xl"></i></a>
		<a href="https://www.instagram.com/YourFriendlyADC/" class="dark:text-dark-text text-light-text" target="_blank"><i class="ti ti-brand-instagram text-4xl"></i></a>
		<a href="https://www.pinterest.com/yourfriendlyadc/" class="dark:text-dark-text text-light-text" target="_blank"><i class="ti ti-brand-pinterest text-4xl"></i></a>
		<a href="https://twitter.com/yourfriendlyadc" class="dark:text-dark-text text-light-text" target="_blank"><i class="ti ti-brand-x text-4xl"></i></a>
	</div><br><br>

	<p class="dark:text-dark-text text-light-text text-justify">
		Me apasiona la programación, el diseño, el cine, el fútbol, la calistenia, la música, la lectura, Spider-Man, Arjona, Rawayana, Motherflowers, Gorillaz. Me gusta el jugo de Mora, Parchita, Guayaba, Naranja y la limonada.
		Mi comida favorita es la arepa, luego el pabellón criollo, los bollos pelones y las carimañolas.
	</p>

	<p class="dark:text-dark-text text-light-text text-justify">
		Me gusta el cine, mis peliculas favoritas son La La Land, Tick Tick Boom! y The Whale. Tengo un profundo amor-odio con Asteroid City, ya que a simple vista en la pelicula no sucede absolutamente nada entre que empieza y termina. Sin embargo su existencialismo es cautivante.
		<br>
		<br>
		En menor medida, También me gustan las series, mis favoritas son Cómo sobrevivir soltero, Breaking Bad, Avatar y Peaky Blinders. A veces pienso que sólo yo entiendo la manera en que veo Cómo sobrevivir soltero y por qué tratando de lo que trata, es mi serie favorita. Quizá recuerde mal las demás. También me gustan los animes, aunque ya no me considere otaku, como en el pasado. Mis preferidos son Death Note, Saint Seiya y Shokugeki no Soma, de este último que a mis 11 años mi sueño fuese ser Chef. Ese sueño duró los mismo que las primeras tres temporadas del anime.
		<br>
		<br>
		He escuchado muchos artistas y bandas de distintos géneros de música, los que aún perduran en las canciones que escucho a diario son Slipknot, Gorillaz, Falling in Reverse. Mis bandas favoritas en la actualidad son Rawayana y Motherflowers, mientras que mis artistas favoritos son J Balvin, Eminem, Juan Luis Guerra y Ricardo Arjona.
		<br>
		<br>
		Mi comida favorita es la arepa asada con queso rayado, nata y mantequilla, luego el arroz con carne mechada, caraotas y guineo, mejor conocido como pabellón criollo, los bollos pelones y las carimañolas. Mis jugos favoritos son los de Mora, Parchita, Guayaba, Naranja y la limonada. Todos en agua.
		<br>
		<br>
		Practico Calistenia desde hace dos años. La conocí y comencé a practicarla el mismo día que mi PS4 se dañó.
		<br>
		<br>
		Me gusta Spider-Man, es mi superheroe favorito y puedo durar horas hablando de él. Eso es lo único que escribiré al respecto.
		<br>
		<br>
		Primero echo la leche y luego el cereal. Las matemáticas son rojas, el español es azul, la física es morada y la química es verde.
	</p>

	<!-- <p class="dark:text-dark-text text-light-text text-justify">
		Me gusta la física, sobretodo la relacionada a la electricidad. Me gusta la lógica computacional. Me gusta escribir historias y poemas.
	</p> -->

</Layout>
