---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import About from '../components/About.astro';
import Recent from '../components/Recent.astro';
import Categories from '../components/Categories.astro';
import Quotes from '../components/Quotes.astro';

// Escritos recientemente
let post = (await getCollection('texts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 4);
---

<Layout title="Inicio">
    <main class="flex flex-col justify-center items-center w-full text-center px-4 gap-16 sm:gap-12">
		<p class="text-sm text-leg3 font-normal mx-10 font-unif">
		    Donde deposito todo lo que siento y no sé cómo decir. Donde espero nunca llegues tú.
		</p>
		<Recent />
		<Categories />
		<Quotes />
		<About />
	</main>
</Layout>
