---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col justify-self-center justify-start items-center h-screen m-auto dark:bg-dark-bg bg-light-bg">
		<Header/>
		<main class="flex flex-col justify-center items-center text-center sm:flex-row px-8 gap-4 sm:gap-12 dark:text-dark-text text-light-text m-auto">
			<div class="flex flex-col justify-center items-center text-center gap-8">
				<div>
					<p class="text-2xl font-medium mb-1 sm:mb-0">{SITE_DESCRIPTION}</p>
					<p class="text-lg font-medium">Lee cuentos, poemas, meditaciones y opiniones.</p>
				</div>
				<div class="flex flex-col sm:flex-row justify-evenly w-full gap-4 sm:gap-4 sm:justify-start">
					<a href="/blog" class="bg-transparent border-2 border-[#a9927d] dark:border-dark-header-text dark:text-dark-header-text text-center py-3 px-4 sm:px-6 rounded-full text-base font-medium w-full">Recientes</a>
					<a href="/categories" class="bg-transparent border-2 border-[#a9927d] dark:border-dark-header-text dark:text-dark-header-text text-center py-3 px-4 sm:px-6 rounded-full text-base font-medium w-full">Categorías</a>
					<a href="/about" class="dark:bg-dark-header bg-[#a9927d] dark:text-dark-header-text text-light-header-text text-center py-3 px-4 sm:px-6 rounded-full text-base font-medium w-full">Sobre mí</a>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
