---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const writers = await getCollection("writers");
---

<Layout title="Escritores">
  <main class="mt-32 px-6 sm:max-w-[1100px] sm:mx-auto">

    <h1 class="text-5xl font-bebas mb-8 text-white">
      Escritores
    </h1>

    <ul class="grid grid-cols-2 sm:grid-cols-4 gap-6">
      {writers.map((writer) => (
        <li>
          <a href={`/writers/${writer.slug}/`} class="block group">

            <div class="relative overflow-hidden rounded-lg aspect-[3/4] border border-white/10">
              <img
                src={writer.data.photo}
                alt={writer.data.name}
                class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition"
              />

              <div class="absolute inset-0 bg-black/30 backdrop-blur-sm flex items-end">
                <h2 class="w-full text-center font-bebas text-2xl text-white p-3">
                  {writer.data.name}
                </h2>
              </div>
            </div>

          </a>
        </li>
      ))}
    </ul>

  </main>
</Layout>
