---
import FormattedDate from "../components/FormattedDate.astro";

const socialLinks = [
  { href: "https://www.instagram.com/adechlien/", icon: "ti ti-brand-instagram" },
  { href: "https://pin.it/LjnC0c5DM", icon: "ti ti-brand-pinterest" },
  { href: "https://github.com/adechlien", icon: "ti ti-brand-github" },
  { href: "https://letterboxd.com/adechlien/", icon: "ti ti-brand-letterboxd" }
];
---

<section class="flex flex-col gap-4">
    <h3 class="text-2xl text-leg2 font-semibold font-ubuntu-c">Sobre el escritor</h3>
    <div class="flex gap-4">
        <div>
            <img class="w-32 h-32 sm:w-40 sm:h-40 rounded-full" src="/about/me.webp" alt=""/>
        </div>

        <div class="info flex flex-col gap-2 justify-start text-center">
            <div class="text-leg3 text-sm">
                <FormattedDate date={new Date("March 28 2003")} />
            </div>
            <h1 class="text-xl text-leg1 font-medium">
                Alejandro J. <br class="sm:hidden" /> Hernández P.
            </h1>
            <div class="flex flex-row gap-2 justify-center items-center">
                {socialLinks.map((social) => (
                    <a href={social.href} class="text-leg3" target="_blank">
                        <i class={`${social.icon} text-3xl`}></i>
                    </a>
                ))}
            </div>
        </div>
    </div>
</section>
