---
const categories = [
  { name: "Lágrimas de Siddartha", slug: "lagrimas" },
  { name: "Still Prefer Sentir", slug: "still" },
  { name: "Placebo Onírico", slug: "placebo" },
  { name: "En las luces de colores", slug: "colores" },
  { name: "Pintas de Gaudín", slug: "pintas" },
];
---

<div class="flex flex-col gap-6 border-2 sm:border-y-2 sm:border-x-0 border-white/40 sm:mx-0 p-4 sm:py-4 sm:px-0">
  <!-- <h2 class="text-5xl font-bold text-left font-staatliches">Colecciones</h2> -->
  <div class="flex flex-col sm:flex-row w-full justify-around gap-4 sm:gap-0">
    {
      categories.map((category) => (
        <a href={`/${category.slug}`} class="w-fit">
            <article class="overflow-hidden flex flex-row items-center">
                <h2 class="font-staatliches font-normal text-xl text-center text-white">{category.name}</h2>
            </article>
        </a>
      ))
    }
  </div>
</div>
