---
const categories = [
  { name: "Lágrimas de Siddartha", slug: "lagrimas" },
  { name: "Still Prefer Sentir", slug: "still" },
  { name: "En las luces de colores", slug: "colores" },
  { name: "Meditaciones", slug: "meditaciones" },
  { name: "Poemas", slug: "poemas" },
  { name: "Cuentos cortos", slug: "cuentos-cortos" },
];
---

<div class="w-full flex flex-col gap-4">
  <h2 class="text-2xl font-bold text-left">Categorías</h2>
  <div class="flex flex-col w-full gap-4">
    {
      categories.map((category) => (
        <a
          href={`/${category.slug}`}
          class="flex justify-center items-center text-center py-2 px-2 rounded-full text-2xl font-normal font-bebas border-2 border-white/10"
        >
          {category.name}
        </a>
      ))
    }
  </div>
</div>
