---
const { theme = "text", fg } = Astro.props;
---
<footer class="flex w-full px-6 mb-10 lg:px-0 lg:max-w-[1100px] justify-between items-center">
  <div class="text-left text-base">
    <span class="text-center font-bold">2023-2026</span>
    <p class="text-center font-medium">
      Desarrollado por
      <a href="https://adechlien.vercel.app" class="font-semibold" target="_blank">adechlien</a>
    </p>
  </div>
</footer>
