---
const today = new Date();
---

<footer class="flex flex-col px-4 text-center sm:flex-row sm:justify-between sm:mx-2 sm:py-0 w-full items-center gap-2 mt-auto">
	<!-- &copy; {today.getFullYear()} Alejandro José Hernández Polo. All rights reserved. -->
	<p class="text-lg leading-6 dark:text-dark-text text-light-text">
		Desarrollado con <i class="ti ti-heart-filled dark:text-dark-text text-light-text font-semibold"></i>
		<br class="sm:hidden">por <a href="https://yourfriendlyadc.vercel.app" class=d ark:text-dark-text"text-light-text font-semibold" target="_blank">YourFriendlyADC</a>
	</p>
	<div class="dark:text-dark-text text-light-text flex justify-center items-end gap-4">
		<a href="https://letterboxd.com/yourfriendlyadc/" target="_blank"><i class="ti ti-brand-letterboxd text-3xl"></i></a>
		<a href="https://www.instagram.com/YourFriendlyADC/" target="_blank"><i class="ti ti-brand-instagram text-3xl"></i></a>
		<a href="https://www.pinterest.com/yourfriendlyadc/" target="_blank"><i class="ti ti-brand-pinterest text-3xl"></i></a>
		<a href="https://twitter.com/yourfriendlyadc" target="_blank"><i class="ti ti-brand-x text-3xl"></i></a>
	</div>
</footer>
