---
const today = new Date();
---

<footer class="flex flex-col px-4 text-center sm:flex-row sm:justify-between sm:mx-4 sm:py-0 w-full">
	<!-- &copy; {today.getFullYear()} Alejandro José Hernández Polo. All rights reserved. -->
	<p class="text-lg m-3">
		Developed with <i class="ti ti-heart-filled text-[#4A5759] font-semibold"></i>
		<br class="sm:hidden">by <a href="https://yourfriendlyadc.github.io" class="text-[#4A5759] font-semibold" target="_blank">YourFriendlyADC</a>
	</p>
	<div class="social-links text-[#4A5759] flex justify-center gap-4">
		<a href="https://letterboxd.com/yourfriendlyadc/" class="text-[#4A5759]"><i class="ti ti-brand-letterboxd text-4xl"></i></a>
		<a href="https://www.instagram.com/YourFriendlyADC/" class="text-[#4A5759]"><i class="ti ti-brand-instagram text-4xl"></i></a>
		<a href="https://www.pinterest.com/yourfriendlyadc/" class="text-[#4A5759]"><i class="ti ti-brand-pinterest text-4xl"></i></a>
		<a href="https://twitter.com/yourfriendlyadc" class="text-[#4A5759]"><i class="ti ti-brand-x text-4xl"></i></a>
	</div>
</footer>
