---
const today = new Date();
---

<footer class="flex flex-col sm:flex-row px-4 justify-between sm:m-2 sm:py-1 w-full items-center sm:items-end gap-1 mt-auto">
	<span class="text-sm text-center sm:text-left dark:text-dark-text text-light-text font-medium">® Leggiamo</span>
	<p class="text-sm text-center sm:text-left dark:text-dark-text text-light-text font-medium">
		Desarrollado por <a href="https://adechlien.vercel.app" class="dark:text-dark-text text-light-text font-semibold" target="_blank">Adechlien</a>
	</p>
</footer>
