---
const { theme = "text", fg } = Astro.props;
---
<footer class="flex w-full sm:mx-auto px-6 sm:px-0 sm:max-w-[1100px] justify-between items-center pt-40 lg:pt-8 pb-8 lg:pb-10">
  <div class="text-left text-base">
    <span class="text-center font-bold">2023-2026</span>
    <p class="text-center font-medium">
      Desarrollado por
      <a href="https://adechlien.vercel.app" class="font-semibold" target="_blank">adechlien</a>
    </p>
  </div>
</footer>
