---
import HeaderLink from './HeaderLink.astro'
---

<footer class="flex w-full px-4 justify-between font-ubuntu text-leg3 items-center sm:items-end gap-1 my-4">
    <div></div>
    <div class='text-center'>
        <span class="text-sm text-center font-medium">® Leggiamo</span>
	    <p class="text-sm text-center font-medium">
	       Desarrollado por <a href="https://adechlien.vercel.app" class="font-semibold" target="_blank">adechlien</a>
		</p>
    </div>
	<HeaderLink href="/references.astro" class='text-lg self-end'>
	   <i class="ti ti-circle-letter-r text-2xl"></i>
	</HeaderLink>
</footer>
