---
import HeaderLink from './HeaderLink.astro'
---

<header class="flex items-center p-6">
	<HeaderLink href="/" class="flex gap-1 items-center text-leg2">
	    <i class="ti ti-book text-xl"></i>
		<span class="text-sm font-medium font-ubuntu">Leggiamo</span>
	</HeaderLink>
	<!-- <nav class="flex flex-row justify-center items-center dark:text-lush2 text-lush4 text-sm font-medium gap-2">
		<HeaderLink href="/about">Sobre mí</HeaderLink> |
		<button onclick=handleToggleClick() class="dark-button cursor-pointer" id="darkmode">
		    <i class="ti ti-circle-half-2 text-xl flex cursor-pointer"></i>
		</button>
	</nav> -->
</header>
