---
// comps/Header.astro (o donde lo tengas)
import HeaderLink from "./HeaderLink.astro";
---

<header class="absolute top-0 left-0 right-0 z-40 flex items-center p-6">
  <HeaderLink
    href="/"
    class="flex gap-1 items-center rounded-full px-3 py-1 bg-[#fff5] text-white"
  >
    <i class="ti ti-book text-xl"></i>
    <span class="text-sm font-medium font-ubuntu">Leggiamo</span>
  </HeaderLink>
</header>
