---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex flex-row py-2 px-4 bg-[#4A5759] rounded-full sticky top-2 w-[95vw] mx-4 justify-between">
	<nav class="flex flex-row justify-center items-center gap-4">
		<i class="ti ti-seeding text-3xl flex text-[#9ab6b9]"></i>
		<HeaderLink href="/" class="text-[#dedbd2] text-xl">Home</HeaderLink>
		<HeaderLink href="/blog" class="text-[#dedbd2] text-xl">Texts</HeaderLink>
		<HeaderLink href="/about" class="text-[#dedbd2] text-xl">About</HeaderLink>
	</nav>
	<i class="ti ti-lock text-3xl flex text-[#4A5759]"></i>
</header>