---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex flex-row py-1 px-2 w-[95%] dark:bg-dark-header bg-light-header rounded-full justify-between items-center mt-2 gap-4">
	<a href="/">
	   <i class="ti ti-book text-xl flex dark:text-dark-header-text text-light-header-text"></i>
	</a>
	<nav class="flex flex-row justify-center items-center dark:text-dark-header-text text-light-header-text text-sm font-medium gap-4">
		<HeaderLink href="/blog">Recientes</HeaderLink> |
		<HeaderLink href="/categories">Categorías</HeaderLink> |
		<HeaderLink href="/about">Sobre mí</HeaderLink>
	</nav>
	<label for="darkmode">
		<i class="ti ti-circle-half-2 text-xl flex dark:text-dark-header-text text-light-header-text cursor-pointer"></i>
		<input type="checkbox" id="darkmode" class="absolute opacity-0">
	</label>
	<script src="../../scripts.js"></script>
</header>
