---
import HeaderLink from "./HeaderLink.astro";
---

<header class="absolute top-0 left-0 right-0 z-40 flex justify-center items-center p-6">
  <HeaderLink
    href="/"
    class="flex gap-1 items-center rounded-full px-3 py-1 bg-[#202020]/40 text-white"
  >
    <i class="ti ti-book text-xl"></i>
    <span class="text-sm font-semibold font-ubuntu">Sendero de Siddartha</span>
  </HeaderLink>

  <div></div>
</header>
