---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex flex-row py-1 px-4 w-full rounded-full justify-between items-center mt-2 gap-4">
	<a href="/" class="flex gap-1 items-center">
	    <i class="ti ti-book text-xl flex dark:text-dark-text text-light-header-text"></i>
		<span class="dark:text-dark-text text-light-header-text text-sm font-medium">Leggiamo</span>
	</a>
	<nav class="flex flex-row justify-center items-center dark:text-dark-text text-light-header-text text-sm font-medium gap-2">
		<HeaderLink href="/about">Sobre mí</HeaderLink> |
		<button onclick=handleToggleClick() class="dark-button dark:text-dark-text text-light-header-text cursor-pointer" id="darkmode">
		    <i class="ti ti-circle-half-2 text-xl flex dark:text-dark-text text-light-header-text cursor-pointer"></i>
		</button>
	</nav>
</header>
